.about {
  margin: 40px auto 80px;
}

.about:after {
  content: '';
  display: table;
  clear: both;
}

.about__img {
  float: left;
  margin-right: 25px;
  margin-bottom: 1em;
}

.about__txt {
  overflow: hidden;
}


.b-to-cabinet {
  margin-top: 10px;
  margin-bottom: 10px;
}

.b-to-cabinet__flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.b-to-cabinet__txt {
  padding-right: 10px;
  max-width: 600px;
}

.b-to-cabinet__btn {
  flex-shrink: 0;
}

@media only screen and (max-width:768px){
  .about__img {
    float: none;
  }
  .b-to-cabinet__flex {
    flex-wrap: wrap;
  }
}
