.activites {
  margin: 45px -5px;
}

.activites__itm {
  margin: 0 5px;
}

.activites__header {
  font-size: 18px;
  font-family: 'Mont Demo';
  text-transform: uppercase;
  font-weight: normal;
  color: #333 !important;
  background-color: #f2f2f2;
  border-left: 10px solid #62ae34;
  padding-left: 84px;
  background-repeat: no-repeat;
  background-position: 10px center;
  white-space: nowrap;
  display: block;
  position: relative;
}

.activites__header span {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  white-space: normal;
}

.activites__header:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 78px;
  margin-left: -2px;
}

.activites__header_1 {
  background-image: url('../img/activites-1.png');
}

.activites__header_2 {
  background-image: url('../img/activites-2.png');
}

.activites__header_3 {
  background-image: url('../img/activites-3.png');
}

.activites__header_4:before {
  content: '';
  width: 48px;
  height: 58px;
  margin: 10px 0;
  margin-left: -20px;
  vertical-align: middle;
  margin-left: -48px;
  left: -20px;
  position: relative;
  background-image: url('../img/activites-4.png');
}

.activites__header_green {
  background: rgb(159, 221, 99);
  background: -moz-linear-gradient(left, rgb(159, 221, 99) 0%, rgb(98, 174, 52) 100%);
  background: -webkit-linear-gradient(left, rgb(159, 221, 99) 0%, rgb(98, 174, 52) 100%);
  background: linear-gradient(to right, rgb(159, 221, 99) 0%, rgb(98, 174, 52) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fdd63', endColorstr='#62ae34', GradientType=1);
  color: #fff;
}

.activites__header_green span {
  color: #fff;
}

.activites__list {
  list-style: none;
  text-align: center;
  margin: 10px 0;
  padding: 0;
  line-height: 1.5;
  color: #333;
}

.activites__list li {
  display: block;
  margin: 3px 0;
}

.activites__list a {
  color: inherit;
}

.activites__list a:hover {
  color: inherit;
  text-decoration: underline;
  color: #999;
}

.activites__list .activites__link-all {
  color: #62ae34;
  font-size: 18px;
  text-decoration: underline;
}

.activites__list .activites__link-all:hover {
  text-decoration: none;
}

@media only screen and (max-width:960px) {
  .activites__header {
    font-size: 16px;
    padding-left: 80px;
  }
}
