.advantages {
  margin: 100px 0;
}

.advantages a {
  color: #6ca947;
  text-decoration: underline;
}
.advantages a:hover {
  text-decoration: none;
}


.advantages__itm {
  text-align: center;
  padding: 0 10px 20px;
  font-size: 16px;
  color: #000;
  line-height: 1.2;
}

.advantages__icon {
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background-size: contain;
}

.advantages__icon_1 {
  background-image: url('../img/itmadv1.png');
}

.advantages__icon_2 {
  background-image: url('../img/itmadv2.png');
}

.advantages__icon_3 {
  background-image: url('../img/itmadv3.png');
}

.advantages__icon_4 {
  background-image: url('../img/itmadv4.png');
}

.advantages__icon_5 {
  background-image: url('../img/itmadv5.png');
}

.advantages__icon_6 {
  background-image: url('../img/itmadv6.png');
}

.advantages__title {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Mont Demo';
  margin-bottom: 1.2em;
  text-transform: uppercase;
}
