.analyzes {
  position: relative;
}

.analyzes__nav {
  width: 260px;
  float: left;
  padding-bottom: 13000px;
  margin-bottom: -13000px;
  background: #f2f2f2;
  margin-right: 40px;
  /* position: -webkit-sticky;
  position: sticky; */
  top: 0;
  z-index: 2;
}

.analyzes__nav-inner {
  padding: 20px 0 50px;
}

.analyzes__nav a {
  display: block;
  font-size: 15px;
  color: #333;
  border-left: 10px solid transparent;
  padding: 5px 25px;
  line-height: 1.2;
}

.analyzes__nav a:hover, .analyzes__nav a.on {
  border-color: #6ca947;
  color: #6ca947;
  text-decoration: underline;
}

.analyzes__content th, .analyzes__content td {
  padding: 10px;
  border: 0.5px solid transparent;
  background: none;
}

.analyzes__content {
  max-height: none;
  font-size: 15px;
  line-height: 1.5;
  overflow: hidden;
}

.analyzes__content a {
  color: #62ae34;
}

.analyzes__content a:hover {
  text-decoration: underline;
}

.analyzes__content table {
  max-height: none;
}

.analyzes__content tbody {
  display: block;
  border: none;
}

.analyzes__content .noBg {
  padding: 0;
  background: none;
}

.analyzes__content table td:first-child {
  flex: 1 0 30%;
  padding-left: 0;
  flex-grow: 2;
}

.analyzes__content table td:last-child {
  padding-right: 0;
  flex: 1 0 89px;
  text-align: right;
}

.analyzes__itm-cont {
  margin-bottom: 20px;
}

.analyzes__title {
  display: block;
  color: #6ca947;
  font-weight: bold;
}

.analyzes__itm-price {
  font-weight: bold;
  color: #6ca947;
  text-align: center;
}

.analyzes__descr p {
  display: inline;
  margin: 0;
}

.analyzes .drawer-toggle {
  background: var(--a-link-color) !important;
  background: #62ae34;
  width: auto;
  max-height: 40px;
  height: 40px;
  line-height: 40px;
  min-width: inherit;
  padding: 0;
  border-radius: 0;
  /* position: -webkit-sticky;
  position: sticky; */
  position: relative;
  top: 0;
  left: 0;
  z-index: 21;
}

.drawer-wrap {
  position: absolute;
  right: auto;
  left: -15px;
  top: 8px;
  bottom: 0;
  z-index: 21;
}

#drawer-nav {
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  position: fixed;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  display: none;
}

#drawer-nav::before {
  vertical-align: middle;
}

@media only screen and (max-width:820px) {
  section.overflow-hidden {
    overflow: inherit;
  }
  .analyzes__nav a {
    /* border-right: 10px solid transparent;
    border-left: 0px; */
  }
  .analyzes {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }
  .analyzes__nav {
    /* float: none; */
    padding-bottom: 10px;
    margin-bottom: 1em;
    margin-right: 1em;
    /* text-align: right; */
    transition: all 0.4s;
    margin-top: 8px;
    margin-left: -100%;
    width: 100%;
    /* overflow: auto; */
    z-index: 2;
    flex-shrink: 0;
  }
  .analyzes__nav-inner {
    /* position: -webkit-sticky;
    position: sticky; */
    padding-top: 30px;
    top: 0;
  }
  .analyzes__content {
    margin-left: 0;
    max-height: inherit;
    width: 100%;
    flex-shrink: 0;
  }
  .analyzes .drawer-toggle {
    display: block !important;
  }
  [type="checkbox"]#drawer-nav:checked+* {
    margin-left: 0;
    width: 100%;
  }
}
