.breadcrumbs {
  margin: 35px 0;
  overflow: hidden;
  color: #6ca947;
  font-size: 16px;
}

.breadcrumbs__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs__itm {
  display: inline-block;
}

.breadcrumbs__itm:first-child:before {
  display: none;
}

.breadcrumbs__itm:before {
  content: '/';
  margin: 0 3px;
}

.breadcrumbs a {
  color: #666;
  text-decoration: underline;
}

.breadcrumbs a:hover {
  text-decoration: none;
}
