.cart {
  margin-bottom: 50px;
}

.cart__tbl {
  padding: 0;
}

.cart__tbl .cart__result {
  background: rgb(98, 174, 52);
  background: -moz-linear-gradient(left, rgb(98, 174, 52) 0%, rgb(159, 221, 99) 100%);
  background: -webkit-linear-gradient(left, rgb(98, 174, 52) 0%, rgb(159, 221, 99) 100%);
  background: linear-gradient(to right, rgb(98, 174, 52) 0%, rgb(159, 221, 99) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62ae34', endColorstr='#9fdd63', GradientType=1);
  color: #fff;
}

.analyzes__content .cart__tbl td:last-child {
  text-align: right;
}

.cart__result {
  color: #fff;
  font-size: 16px;
}

.cart__result td {
  color: #fff;
}

.cart__result-price {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.cart__result td:first-child {
  text-align: right;
}

.cart-form__form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cart-form-section {
  width: 400px;
  max-width: 100%;
}

.cart-form__btns {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.cart-form__btns .btn{
  min-width: 128px;
}

.cart-form__btns .btn_light {}

@media only screen and (max-width: 768px) {
  .cart-form__btns {
    display: block;
  }
  .cart-form__btns .btn {
    width: 100%;
    margin: 5px 0;
  }
}
