.contacts {
  margin-bottom: 0 !important;
}

.contacts__top {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.contacts__left {
  flex-grow: 2;
  padding-bottom: 50px;
}

.contacts__right {
  background: #f8f8f8;
  padding-left: 60px;
  flex-shrink: 0;
  width: 390px;
  position: relative;
  padding-bottom: 50px;
}

.contacts__right:before {
  content: '';
  position: absolute;
  background: #f8f8f8;
  display: block;
  width: 2000px;
  height: 100%;
  top: 0;
  left: 0;
}

.contacts .title {
  font-size: 36px;
  font-family: 'Mont Demo';
  font-weight: bold;
  margin: 0.5em 0;
}

.contacts__right .title {
  margin-top: 105px;
}

.contacts__right>* {
  position: relative;
  z-index: 2;
}

.contacts__info {
  padding-top: 0;
}

.contacts__info-s {
  margin: 30px 0;
}

.contacts__info-s h5 {
  margin: 0;
}

@media only screen and (max-width:890px) {
  .contacts__top {
    flex-wrap: wrap;
  }
  .contacts__left {
    padding-bottom: 1em;
  }
  .contacts__right {
    margin-top: 0;
    padding-left: 0;
    padding-bottom: 1em;
    width: auto;
  }
  .contacts__right:before {
    left: -15px;
  }
  .contacts__right .title {
    margin-top: 0.5em;
  }
}
