.description {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  position: relative;
  align-items: center;
  margin: 80px 0;
}

.description__H {
  margin-right: 40px;
  flex-shrink: 0;
  position: relative;
}

.description__H img {
  position: relative;
  z-index: 2;
}

.description__H:before {
  content: '';
  height: 295px;
  width: 1000px;
  position: absolute;
  display: block;
  right: 50%;
  top: 50%;
  margin-top: -147.5px;
  background: rgb(98, 174, 52);
  background: -moz-linear-gradient(-45deg, rgb(98, 174, 52) 0%, rgb(159, 221, 99) 100%);
  background: -webkit-linear-gradient(-45deg, rgb(98, 174, 52) 0%, rgb(159, 221, 99) 100%);
  background: linear-gradient(135deg, rgb(98, 174, 52) 0%, rgb(159, 221, 99) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62ae34', endColorstr='#9fdd63', GradientType=1);
}


@media only screen and (max-width: 758px){
  .description__H {
    width: 100px;
  }
}


@media only screen and (max-width:560px){
  .description__H {
    display: none;
  }
}
