.doctor .spec {
  margin: 0;
  padding-bottom: 30px;
}

.doctor__left {
  margin-right: 40px;
  margin-bottom: 1em;
}

.doctor__txt {
  overflow: hidden;
}

.doctor  .pin {
  margin-top: 0;
}

.doctor {
  margin-bottom: 70px;
}

.doctor__txt-section {
  margin-bottom: 40px;
  font-size: 16px;
  color: #666;
}

.doctor__txt-section h5 {
  margin: 30px 0;
}

.doctor__txt-section h5, .doctor__txt-section b {
  font-family: 'Mont Demo';
  font-weight: bold;
  color: #000;
}

@media only screen and (max-width:768px){
  .doctor__left {
    float: none;
    margin: auto;
    text-align: center;
  }
}
