.footer {
  overflow: hidden;
  background: #333;
  color: #fff;
  font-size: 16px;
  padding-bottom: 25px;
  flex-shrink: 0;
}
.footer a {
  color: inherit;
}

.footer__top {
  margin: 20px auto;
}
.footer__logo {
  float: left;
}

.footer__info {
  margin-left: 240px;
  height: 72px;
  position: relative;
  background: rgb(159,221,99);
  background: -moz-linear-gradient(left, rgb(159,221,99) 0%, rgb(98,174,52) 100%);
  background: -webkit-linear-gradient(left, rgb(159,221,99) 0%,rgb(98,174,52) 100%);
  background: linear-gradient(to right, rgb(159,221,99) 0%,rgb(98,174,52) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fdd63', endColorstr='#62ae34',GradientType=1 );
  color: #333;
}

.footer__info > div {
  z-index: 2;
  position: relative;
}

.footer__info:before {
  content:'';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 3000px;
  background: -moz-linear-gradient(left, rgb(159,221,99) 0%, rgb(98,174,52) 100%);
  background: -webkit-linear-gradient(left, rgb(159,221,99) 0%,rgb(98,174,52) 100%);
  background: linear-gradient(to right, rgb(159,221,99) 0%,rgb(98,174,52) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fdd63', endColorstr='#62ae34',GradientType=1 );
}

.footer__info-txt {
  font-family: 'Mont Demo';
  margin: 8px 15px;
  float: left;
}

.footer__info-txt strong{
  font-size: 15px;
}

.footer__info-right {
  float: right;
  width: 315px;
  text-align: right;
}

.footer__info-right > a {
  display: inline-block;
  vertical-align: middle;
}

.footer__info-right b {
  font-size: 13px;
  text-transform: uppercase;
}


.footer__bottom {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.footer__bottom_end {
  margin-top: 15px;
  align-items: flex-end;
}

.footer__left {
  float: left;
  width: 52%;
}

.footer__right {
  float: right;
  width: 48%;
  text-align: right;
}

.footer__left > div{
  margin-top: 15px;
}

.footer__tel {
  font-size: 24px;
  margin: 15px 0;
}

.grey {
  color: #999;
}

.footer__nav {
  text-align: right;
  margin-bottom: 40px;
}

.footer__nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.footer__nav a {
  text-decoration: none;
}

.footer__nav a:hover {
  color: #62ae34;
  text-decoration: underline;;
}

@media only screen and (max-width:768px){
  .footer__bottom {
    flex-wrap: wrap;
  }
  .footer__right {
    order: 1;
  }
  .footer__left {
    order: 2;
  }
  .footer__left, .footer__right {
    float: none;
    width: 100%;
    text-align: left;
  }
  .footer__nav {
    text-align: left;
  }
}


@media only screen and (max-width:495px){
  .footer__logo {
    width: 150px;
    margin: 0 auto;
    display: block;
    float: none;
  }
  .footer__info {
    margin: 0 auto;
    clear: both;
  }
  .footer__info-right {
    float: none;
    text-align: center;
    margin: auto;
  }
}
