.form {
  background: none;
  border: none;
  margin: 1em -0px;
  padding: 0;
}

.field {
  display: block;
  margin-top: 38px;
}

form .field input, .field textarea {
  width: 100%;
  max-width: 100%;
  background: #fff;
  min-height: 40px;
  padding: 10px 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  outline: none !important;
  border-color: #ececec;
}

form .field .hint {
  display: block;
  font-size: 12px;
  color: #62ae34;
  padding: 2px 10px;
}

form .field input:hover, .field textarea:hover{
  background: #f7f7f7 !important;
  outline: none !important;
  border-color: #ececec !important;
}
form .field input:focus, .field textarea:focus{
  border-color: #62ae34 !important;
  outline: none !important;
}


.form input, .form textarea {
  border-radius: 20px;
  border: 1px solid #ececec;
}

.field .btn {
  margin: 0;
}


@media only screen and (max-width: 768px){
  .field {
    margin-top: 1.5em;
  }
}
