html, body {
  height: 100%;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #333;
  background: #fff;
  overflow-x: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.content {
  flex-grow: 2;
  flex-shrink: 0;
}

.content>section>.wrap {
  margin-bottom: 50px;
}

.wrap {
  max-width: 990px;
  padding: 0 15px;
  margin: auto;
  position: relative;
  box-sizing: border-box;
}

.tt-u {
  text-transform: uppercase;
}

.clear:after, .clear:before {
  content: '';
  display: table;
  clear: both;
}

.btn {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 20px;
  line-height: 40px;
  padding: 0 20px;
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  min-width: 140px;
  margin: 0;
  text-decoration: none !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn_dark {
  color: #fff !important;
  background: #333;
}

.btn_dark:hover {
  background: #000;
}

.btn_dark:active, .btn_dark:focus {
  background: #669933;
}

.btn_light {
  background: #fff;
  color: #333 !important;
}

.btn_light:hover {
  background: #62ae34;
  color: #fff !important;
}

.btn_light:active, .btn_light:focus {
  background: #46891e;
}

.btn_green {
  background: #62ae34;
  color: #fff !important;
}

.btn_green:hover {
  background: #46891e;
}

.btn_green:active, .btn_green:focus {
  background: #333;
}

.btn_darkTxt {
  color: #333 !important;
}

.btn_grey {
  color: #fff !important;
  background: #ccc;
}

.btn_grey:hover {
  background: #afafaf;
}

.btn_grey:active, .btn_grey:focus {
  background: #333;
}

.i {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}

.i_pencil {
  background-image: url('../img/pencil.png');
  width: 21px;
  height: 21px;
}

.btn_light:hover .i_pencil {
  background-image: url('../img/pencil_w.png');
}

.soc {
  display: inline-block;
  margin: 0 -8px;
}

.soc:after, .soc:before {
  content: '';
  display: table;
  clear: both;
}

.soc__itm {
  background-image: url('../img/social.png');
  background-repeat: no-repeat;
  width: 58px;
  height: 58px;
  display: block;
  margin: 6px 8px;
  float: left;
}

.soc__itm:hover {
  opacity: 0.7;
}

.soc__itm_vk {
  background-position: -1px -1px;
}

.soc__itm_fb {
  background-position: -74px -1px;
}

.soc__itm_in {
  background-position: -147px -1px;
}

.fz14 {
  font-size: 14px;
}

.fz15 {
  font-size: 15px;
}

.h2 {
  text-align: center;
  color: #000;
  font-family: 'Mont Demo';
  font-size: 55px;
  margin-bottom: 1.2em;
}

.green {
  color: #62ae34;
}

.tac {
  text-align: center;
}

.page-title {
  font-size: 55px;
  color: #000;
  font-weight: 400;
  font-family: 'Mont Demo';
  margin: 0.5em 0 0.9em;
}

.h4 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Mont Demo';
  margin-bottom: 1.2em;
}

.b-green {
  color: #fff;
  font-size: 16px;
  padding: 30px 0;
  background: rgb(98, 174, 52);
  background: -moz-linear-gradient(left, rgb(98, 174, 52) 0%, rgb(159, 221, 99) 100%);
  background: -webkit-linear-gradient(left, rgb(98, 174, 52) 0%, rgb(159, 221, 99) 100%);
  background: linear-gradient(to right, rgb(98, 174, 52) 0%, rgb(159, 221, 99) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62ae34', endColorstr='#9fdd63', GradientType=1);
}

.b-green * {
  color: inherit;
}

.pin {
  color: #666;
  margin: 2em 0;
}

.pin> :first-child {
  margin-top: 0;
}

.pin h1, .pin h2, .pin h3, .pin h4, .pin h5, .pin h6 {
  text-transform: uppercase;
}

.pin ul, .pin ol {
  margin: 1em 0;
  margin-left: 25px;
  color: #000;
}

.pin ul li, .pin ol li {
  margin: 1em 0;
}

.pin ul {
  list-style: none;
  padding-left: 0;
}

.pin ul li {
  padding-left: 20px;
  position: relative;
}

.pin ul li:before {
  content: "■";
  color: #62ae34;
  position: absolute;
  left: 0;
  top: 3px;
  line-height: 0.5;
}

.pin a {
  text-decoration: underline;
}



.mt1 {
  margin-top: 1em;
}

.tbl {
  max-height: none !important;
}

.tbl form .btn {
  width: 100%;
}

.tbl th, .tbl td {
  padding: 10px;
  border: 0.5px solid #fff;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.tbl tbody {
  display: block;
  border: none;
}

.tbl .noBg {
  padding: 0;
  background: none;
}

.b-grey {
  background: #e8e8e8;
  padding: 40px 0;
}

.fl {
  float: left;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-left: 0;
  margin-right: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Mont Demo';
  /* font-weight: bold; */
  color: #000;
}

.btnScrollTop {
  cursor: pointer;
  border: 1px solid #e8e8e8;
  -moz-box-shadow: 0 0 10px #cacaca;
  -webkit-box-shadow: 0 0 10px #cacaca;
  -ms-box-shadow: 0 0 10px #cacaca;
  box-shadow: 0 0 10px #cacaca;
  background: #fff url('../img/Up.png') no-repeat center left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  color: #999;
  position: fixed;
  margin-left: -90px;
  left: 0;
  top: 0;
  margin-top: 200px;
  display: inline-block;
  _overflow: hidden;
  *zoom: 1;
  *display: inline;
  padding: 10px 10px 10px 24px;
  text-decoration: none;
  text-align: right;
  opacity: 0;
  transition: all 0.4s;
  z-index: 100;
  max-width: 90px;
  box-sizing: border-box;
}

.btnScrollTop.on {
  margin-left: 10px;
  opacity: 1;
}

@media only screen and (max-width:768px) {
  .btnScrollTop {
    text-indent: 999px;
    right: 0;
    left: auto;
    margin-right: -90px;
    background: #fff url('../img/Up.png') no-repeat 14px center;
  }
  .btnScrollTop.on {
    margin-right: -40px;
  }
  .h2 {
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 0.5em;
  }
  .page-title {
    font-size: 2.2em;
    line-height: 1.2;
    margin-bottom: 0.5em;
  }
}

form {
  background: none;
  color: inherit;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width:560px) {
  .h2 {
    font-size: 1.2em;
  }
}

@media print {
  .header, .footer, .cart-form, .breadcrumbs, .page-title, form {
    display: none;
  }
  #content {
    display: block;
  }
}
