.header {
  overflow: hidden;
  flex-shrink: 0;
  line-height: normal;
}

.header a {
  color: inherit;
  text-decoration: none;
}

.header__top {
  margin: 20px auto;
}

.header__logo {
  float: left;
}

.header__logo img {
  display: block;
}

.header__logo2 {
  display: none;
}

.header__info {
  margin-left: 215px;
  max-height: 68px;
  position: relative;
  background: rgb(98, 174, 52);
  background: -moz-linear-gradient(left, rgb(98, 174, 52) 0%, rgb(159, 221, 99) 100%);
  background: -webkit-linear-gradient(left, rgb(98, 174, 52) 0%, rgb(159, 221, 99) 100%);
  background: linear-gradient(to right, rgb(98, 174, 52) 0%, rgb(159, 221, 99) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62ae34', endColorstr='#9fdd63', GradientType=1);
  color: #fff;
}

.header__info>div {
  z-index: 2;
  position: relative;
}

.header__info:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 3000px;
  background: -moz-linear-gradient(left, rgb(98, 174, 52) 0%, rgb(159, 221, 99) 100%);
  background: -webkit-linear-gradient(left, rgb(98, 174, 52) 0%, rgb(159, 221, 99) 100%);
  background: linear-gradient(to right, rgb(98, 174, 52) 0%, rgb(159, 221, 99) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62ae34', endColorstr='#9fdd63', GradientType=1);
}

.header__info-txt {
  font-family: 'Mont Demo';
  margin: 2px 15px;
  float: left;
}

.header__info-txt strong {
  font-size: 15px;
}

.header__info-right {
  float: right;
  min-width: 315px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 67px;
}

.header__info-right * {
  color: inherit;
}

.header__info-right h5 {
  margin: 0;
  color: inherit;
}

.header__info-right h5 br {
  display: none;
}

.header__info-right>a {
  display: inline-block;
  vertical-align: middle;
}

.header__info-right b {
  font-size: 13px;
  text-transform: uppercase;
}

.header__nav_top {
  background: -moz-linear-gradient(left, rgb(98, 174, 52) 0%, rgb(159, 221, 99) 100%);
  background: -webkit-linear-gradient(left, rgb(98, 174, 52) 0%, rgb(159, 221, 99) 100%);
  background: linear-gradient(to right, rgb(98, 174, 52) 0%, rgb(159, 221, 99) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62ae34', endColorstr='#9fdd63', GradientType=1);
}

.header__nav_top a {
  display: block;
  text-align: left;
  margin: 1em -0px;
}

.header__cart {
  margin-left: 35px;
  background: url('../img/cart.png') no-repeat left center;
  padding-left: 40px;
  min-height: 22px;
}

.header__cabinet {
  background: url('../img/cabinet.png') no-repeat left center;
  padding-left: 27px;
  line-height: 22px;
}

.header__nav {
  background: #333333;
  color: #fff;
  padding: 10px 0;
  overflow: hidden;
}

.header__nav .btn {
  float: right;
}

.nav__list {
  padding: 0;
  list-style: none;
  margin: 0 -10px;
}

.nav__list li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  font-weight: bold;
}

.nav__list li a {
  display: inline-block;
  font-size: 13px;
  padding: 10px 0;
  line-height: 20px;
  text-transform: uppercase;
}

.drawer-toggle {
  font-size: 30px;
  position: absolute;
  right: 15px;
  top: 0px;
  cursor: pointer;
}

[type="checkbox"].drawer+* {
  display: block;
  box-sizing: border-box;
  position: relative;
  top: 0;
  width: auto;
  height: auto;
  overflow-y: inherit;
  background: none;
  border: none;
  border-radius: 0;
  margin: 0;
  z-index: 1110;
  right: 0px;
  transition: right 0.3s;
}

.header__nav_top {
  display: none;
}

@media only screen and (max-width:960px) {
  .header__logo {
    width: 150px;
    margin: 7px auto;
  }
  .header__info-txt {
    display: none;
  }
  .header__info {
    margin-left: 150px;
  }
  .nav__list {
    margin: 0 -10px;
  }
  .nav__list li {
    margin: 0 10px;
  }
}

@media only screen and (max-width:768px) {
  .header {
    background: #333;
    color: #fff;
    height: 60px;
  }
  .header__top {
    display: none;
  }
  .header__info {
    display: none;
  }
  .header__nav_top+.btn {
    float: none;
    margin: 0 auto;
  }
  .header__nav_top {
    display: block;
    overflow: hidden;
    margin: 0 -15px 1em;
    padding: 0 15px;
  }
  .header__nav {
    padding-top: 0;
  }
  [type="checkbox"].drawer+* {
    display: block;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 320px;
    height: 100vh;
    overflow-y: auto;
    background: var(--drawer-back-color);
    border: none;
    border-radius: 0;
    margin: 0;
    z-index: 1110;
    right: -320px;
    transition: right 0.3s;
    background: #333333;
  }
  .nav {
    width: 100%;
  }
  .nav__list li {
    width: 100%;
  }
  .nav__list li a {
    display: block;
  }
  .header__logo2 {
    display: block;
    margin: 0 -15px -1px;
  }
  .header__logo2 img {
    display: block;
  }
}
