extends layout.pug

block content
  include blocks/slider.html
  .wrap
    include blocks/activites.html
    include blocks/description.html
    h2.h2 Наши специалисты
    include blocks/speci.html
  include blocks/zapis.html
  include blocks/actions.html
  include blocks/map.html
  
