.laboratiry ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.laboratiry li{
  margin: 1em 0;
  text-transform: uppercase;
  font-family: 'Mont Demo';
  font-weight: bold;
  color: #000;
}

.laboratiry li a{
  color: inherit;
}
.lab__i {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: left center;
  width: 43px;
  height: 43px;
}

.lab__i_1 {
  background-image: url('../img/lab1.png');
}
.lab__i_2 {
  background-image: url('../img/lab2.png');
}

.lab__i_3 {
  background-image: url('../img/lab3.png');
}

.lab__i_4 {
  background-image: url('../img/lab4.png');
}

.lab__i_5 {
  background-image: url('../img/lab5.png');
}

.lab__i_6 {
  background-image: url('../img/lab6.png');
}


.lab__i_7 {
  background-image: url('../img/lab7.png');
}
