.modal a.close-modal {
  width: 28px;
  height: 28px;
  top: 40px;
  right: 40px;
  background: url('../img/close.png');
}

.modal {
  border-radius: 0;
  padding: 40px;
  background: #fff;
}

.modal .title {
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Mont Demo';
  line-height: 28px;
  padding-right: 50px;
  margin-bottom: 1.5em;
}

.modal p {
  color: #666666;
  font-size: 15px;
  margin-bottom: 35px;
}


.modal_img {
  padding: 0;
  width: auto;
}

.modal_img img{
  display: block;
}

.modal_img a.close-modal {
  top: -13px;
  right: -13px;
}
