.notFound {
  margin: 100px auto;
  background: url('../img/bg404.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.notFound__404txt {
  margin: 15px auto;
  font-family: 'Mont Demo';
  font-weight: bold;
  font-size: 35px;
  color: #000;
}

.notFound__404 {
  font-size: 300px;
  font-family: 'Mont Demo';
  font-weight: bold;
  color: #85c94f;
  line-height: 1;
}

.notFound__body {
  margin-bottom: 70px;
}


@media only screen and (max-width: 768px){
  .notFound {
    margin: 50px auto;
  }
  .notFound__404 {
    font-size: 9em;
  }
}
