.prices {
  margin-bottom: 50px;
}

.prices .tbl .noBg {
  text-align: right;
  background: none;
}

.tbl tr:nth-child(even) td {
  background: #f6f6f6;
}

.tbl tr:nth-child(odd) td {
  background: #e8e8e8;
}

.prices .tbl td:first-child {
  flex-grow: 2;
}

.prices a {
  color: inherit;
}

.bigPrice {
  font-size: 30px;
  font-family: 'Mont Demo';
  color: #62ae34;
  margin-right: 10px;
  font-weight: bold;
  vertical-align: middle;
  display: inline-block;
}
