.research {
  font-size: 15px;
  color: #6ca947;
  font-weight: bold;
}

.research p {
  margin: 25px 0;
}

.research a {
  color: #6ca947;
}

.research-column {
  columns: 2 320px;
}

.research-column p:first-child {
  margin-top: 0;
}

.research-column p:last-child {
  margin-bottom: 0;
}
