.servicList {
  margin: 29px -15px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}

.servicList__img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
}

.servicList__img img{
  object-fit: contain;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  max-height: 100%;
}
.servicList__itm {
  margin: 15px;
  display: block;
  text-decoration: none !important;
  color: #fff;
  min-height: 110px;
  width: 168px;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  font-family: 'Mont Demo';
  text-transform: uppercase;
  font-size: 15px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;


  background: rgb(98, 174, 52);
  background: -moz-linear-gradient(-45deg, rgb(98, 174, 52) 0%, rgb(159, 221, 99) 100%);
  background: -webkit-linear-gradient(-45deg, rgb(98, 174, 52) 0%, rgb(159, 221, 99) 100%);
  background: linear-gradient(135deg, rgb(98, 174, 52) 0%, rgb(159, 221, 99) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62ae34', endColorstr='#9fdd63', GradientType=1);
}

.servicList__itm:hover {
  background: rgb(98, 174, 52);
  background: -moz-linear-gradient(-45deg, rgb(159, 221, 99) 0%, rgb(98, 174, 52) 100%);
  background: -webkit-linear-gradient(-45deg, rgb(159, 221, 99) 0%, rgb(98, 174, 52) 100%);
  background: linear-gradient(135deg, rgb(159, 221, 99) 0%, rgb(98, 174, 52) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fdd63', endColorstr='#62ae34', GradientType=1);
}


.servicList__name{
  color: #fff;
  margin-top: 1em;
}
