.sitemap {
  margin-bottom: 50px;
  line-height: 1.5;
}

.sitemap ul {
  list-style: none;
  padding: 0;
}

.sitemap a {
  font-size: 16px;
  color: #62ae34;
  text-decoration: underline;
  display: inline-block;
}

.sitemap a:hover {
  text-decoration: none;
}

.sitemap ul ul {
  padding-left: 60px;
}

.sitemap ul ul ul a {
  color: #666;
}

.sitemap > ul > li > a {
  margin-bottom: 20px;
}


@media only screen and (max-width:768px){
  .sitemap ul ul {
    padding-left: 30px;
  }
}
