.slider {
  overflow: hidden;
  font-family: 'Mont Demo';
  max-height: 450px;
}

.slide {
  position: relative;
  padding: 80px 0 150px;
  color: #fff;
  font-size: 24px;
}

.slide__title {
  color: #fff;
  text-align: left;
  margin-bottom: 0.7em;
}

.slide__p {
  margin-bottom: 30px;
}

.slide__img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.slide__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .bx-wrapper, .gallery .bx-wrapper {
  border: none;
  margin-bottom: 0;
}

.slide__btn {
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: auto;
  max-width: 960px;
  margin: 0 auto;
}

.slide .btn {
  position: absolute;
  bottom: 64px;
  left: 0;
  z-index: 3;
}

.slider .bx-controls {
  position: relative;
  /* bottom: 85px; */
  margin: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: auto;
  max-width: 960px;
  z-index: 1000;
}

.slider .bx-controls .bx-pager {
  position: absolute;
  bottom: 60px;
  right: 110px;
  padding: 10px;
  line-height: 25px;
  text-align: right;
  width: auto;
}

.slider .bx-controls-direction {
  position: absolute;
  bottom: 85px;
  right: 15px;
}

.slider .bx-wrapper .bx-controls-direction a {
  background-image: url('../img/arrows.png');
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
}

.slider .bx-wrapper .bx-controls-direction a.bx-prev {
  background-position: bottom left;
  right: 52px;
  left: auto;
}

.slider .bx-wrapper .bx-controls-direction a.bx-next {
  background-position: bottom right;
  right: 0;
}

.slider .bx-wrapper .bx-controls-direction a.bx-prev:hover {
  background-position: top left;
}

.slider .bx-wrapper .bx-controls-direction a.bx-next:hover {
  background-position: top right;
}

.slider .bx-wrapper .bx-pager.bx-default-pager a {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #fff;
}

.slider .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #62ae34;
}

.slider .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
  border-color: #fff;
  background: #62ae34;
}

@media only screen and (max-width:990px) {
  .slide .btn {
    left: 15px;
  }
}

@media only screen and (max-width:768px) {
  .slide {
    padding: 30px 0 80px;
  }
  .slide .btn {
    bottom: 30px;
  }
  .slider .bx-controls .bx-pager {
    bottom: 30px;
  }

  .slider .bx-controls-direction {
    bottom: 56px;
  }
}

@media only screen and (max-width:560px) {
  .slider .bx-wrapper .bx-pager.bx-default-pager a {
    visibility: hidden;
  }
}



.gallery .bx-wrapper .bx-controls-direction a {
  height: 100%;
  top: 0;
  margin-top: 0;
  width: 70px;
  background-color: rgba(31, 31, 31, 0.7);
  background-repeat: no-repeat;
  background-position: center;
}

.gallery .bx-wrapper .bx-next {
  right: 0;
  background-image: url('../img/arrow2-next.png');
}

.gallery .bx-wrapper .bx-prev {
  left: 0;
  background-image: url('../img/arrow2.png');
}
