.speci {
  margin-top: 30px;
  margin-bottom: 60px;
}

.spec {
  margin: 10px 15px;
  text-align: center;
  font-size: 16px;
  position: relative;
  padding-bottom: 60px;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.spec__img {
  margin-bottom: 25px;
}

.spec__name {
  font-size: 18px;
  color: #000;
  font-family: 'Mont Demo';
  font-weight: bold;
  margin: 25px auto;
}

.spec__name a {
  color: inherit;
}

.spec__price {
  font-size: 14px;
  margin: 10px auto;
}

.spec__price b {
  font-size: 16px;
}

.spec__btn, .spec .btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
