.symptoms {
  margin-top: 80px;
  margin-bottom: 0;
}

.symptoms .h2 {
  margin-bottom: 10px;
}

.simptom {
  background: url('../img/symptom_2.png') no-repeat center;
  width: 960px;
  height: 372px;
  position: relative;
}

.simptom .btn {
  position: absolute;
  left: 473px;
  padding: 8px 20px;
  top: 151px;
  width: 205px;
  line-height: 33px;
  border-radius: 25px;
}

#keywords {
  height: 372px;
  width: 960px;
  position: relative;
  line-height: 30;
  margin: auto;
}

.btnSym {
  display: inline-block;
  text-align: center;
  border: none;
  border-radius: 20px;
  line-height: 50px;
  padding: 0px 20px;
  min-width: 140px;
  margin: 0;
  text-decoration: none !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 25px;
  border: 2px solid #888;
  font-size: 20px;
  border: 20px solid transparent;
}

.btnSym:before {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  border: 2px solid #888;
  border-radius: 25px;
}

.btn.btnSym {
  border: none;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 20px;
  line-height: 40px;
  padding: 0 20px;
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  min-width: 140px;
  margin: 0;
  text-decoration: none !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn.btnSym.btn_green {
  border: 50px solid transparent;
  background-clip: padding-box !important;
}

.btn.btnSym.btn_green:before, .btn.btnSym.btn_green:after {
  content: '';
  border: none;
  background: #62ae34;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  background-color: inherit;
}

.btn.btnSym.btn_green:before {
  border-radius: 25px 0 0 25px;
  left: -17px;
}

.btn.btnSym.btn_green:after {
  border-radius: 0 25px 25px 0;
  right: -17px;
}

@media only screen and (max-width: 960px) {
  .symptoms {
    display: none;
  }
}
