.zapis {
  color: #fff;
  padding: 60px 0;
  background: rgb(98,174,52);
  background: -moz-linear-gradient(left, rgb(98,174,52) 0%, rgb(159,221,99) 100%);
  background: -webkit-linear-gradient(left, rgb(98,174,52) 0%,rgb(159,221,99) 100%);
  background: linear-gradient(to right, rgb(98,174,52) 0%,rgb(159,221,99) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62ae34', endColorstr='#9fdd63',GradientType=1 );
}

.zapis .h2 {
  color: inherit;
  text-align: left;
  text-transform: none;
  margin-bottom: 40px;
}

.zapis p{
  font-size: 24px;
  margin-bottom: 40px;
}
