extends layout.pug

block content
  div.wrap
    include blocks/breadcrumbs.html
    .page-title О центре
    include blocks/about.html
    include blocks/description.html
    include blocks/advantages.html
  include blocks/bGreenToCabinet.html
