extends layout.pug

block content
  div.wrap
    .cart
      include blocks/breadcrumbs.html
      .page-title В корзине
      p.cart-before Вы выбрали следующие направления
      <div class="analyzes__content">
        <table class="cart__tbl">
          <tbody>
            <tr>
              <td>
                <div class="analyzes__itm-cont">
                  <a href="" class="analyzes__title">
                    <span class="analyzes__num">[40-001] </span>
                    4 обязательных анализа, экспресс (подробнее)</a>
                  <div class="analyzes__descr">Срок выполнения: 1 сутки. Указанный срок не включает день взятия биоматериала. В случае возникновения необходимости выполнения дополнительного теста, срок выполнения исследования может составить до 7 суток.</div>
                </div>
              </td>
              <td>
                <div class="analyzes__itm-price">1470 руб.</div>
              </td>
              <td>
                <a href="" class="btn btn_grey">Удалить</a>
              </td>
            </tr>
            <tr>
              <td>
                <div class="analyzes__itm-cont">
                  <a href="" class="analyzes__title">
                    <span class="analyzes__num">[40-001] </span>
                    4 обязательных анализа, экспресс (подробнее)</a>
                  <div class="analyzes__descr">Срок выполнения: 1 сутки. Указанный срок не включает день взятия биоматериала. В случае возникновения необходимости выполнения дополнительного теста, срок выполнения исследования может составить до 7 суток.</div>
                </div>
              </td>
              <td>
                <div class="analyzes__itm-price">1470 руб.</div>
              </td>
              <td>
                <a href="" class="btn btn_grey">Удалить</a>
              </td>
            </tr>
            <tr class="cart__result">
              <td>
                <span>Всего на сумму</span>
              </td>
              <td class="cart__result-price">
                <b>14 570 руб.</b>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      p.cart-after.
        * - стоимость забора биоматериала оплачивается дополнительно по действующему  прайс-листу. Информация не публикуется и не передается третьим лицам.
      .cart-form
        <form class="cart-form__form form">
          <div class="cart-form-section">
            <div class="field">
              <input type="text" name="lastname" placeholder="Фамилия">
            </div>
            <div class="field">
              <input type="text" name="firstname" placeholder="Имя">
            </div>
            <div class="field">
              <input type="text" name="middlename" placeholder="Отчество">
            </div>
            <div class="field">
              <input type="date" id="start" name="date" value="2018-10-16" />
            </div>
          </div>
          <div class="cart-form-section">
            <div class="field">
              <input type="tel" name="tel" required placeholder="Номер телефона">
            </div>
            <div class="field">
              <input type="email" name="email" required placeholder="E-mail">
              span.hint *Поле обязательное
            </div>
            <div class="field">
              <input type="tel" name="tel" required placeholder="Номер телефона">
            </div>
            <div class="field cart-form__btns">
              <button class="btn btn_green" type="submit">Отправить</button>
              <button class="btn btn_dark" type="button" onclick="window.print()">Распечатать</button>
              <button class="btn btn_grey">Удалить</button>
            </div>
          </div>
        </form>
