extends layout.pug

block content
  .contacts
    div.wrap
      .contacts__top
        .contacts__left
          include blocks/breadcrumbs.html
          .page-title Контакты
          <div class="contacts__info">
              <div class="contacts__info-s">
                <h5>Наш адрес:</h5>
                <p>620100, Свердловская область, г. Екатеринбург, ул. Сибирский тракт, д.12, офис 504</p>
              </div>
              <div class="contacts__info-s">
                <h5>Телефон: </h5>
                <p>+7 (343) 247-85-00</p>
              </div>
              <div class="contacts__info-s">
                <h5>Режим работы:</h5>
                <p>ПН-ПТ с 9:00 до 18:00, СБ-ВС выходной</p>
              </div>
              <div class="contacts__info-s">
                <h5>Электронная почта:</h5>
                <p>info@helix.ru</p>
              </div>
          </div>
        .contacts__right
          include blocks/contacts__right.html
    include blocks/map.html
    .wrap
      <div class="title">Фото центра</div>
    include blocks/gallery.html
        
      
        
