extends layout.pug

block content
  div.wrap
    include blocks/breadcrumbs.html
    .page-title Название направления
    include blocks/pin.html
    include blocks/speci.html
    .h2 Цены
    include blocks/prices.html
  include blocks/symptoms.html
  include blocks/zapis.html
