extends layout.pug

block content
  div.wrap
    include blocks/breadcrumbs.html
    .page-title Шуварин Сервей Викторович
    .clear.doctor
      .fl.doctor__left
        <div class="spec">
          <div class="spec__img">
            <img src="./img/spec.png" alt="">
          </div>
          <a href="" class="spec__btn btn btn_green">Записаться</a>
        </div>
      .doctor__txt
        include blocks/pinDoctor.html
        
