extends layout.pug
block content
  ul
    li
      a(href='home.pug') Главная
    li
      a(href='about.pug') О центре
    li
      a(href='services.pug') Услуги
    li
      a(href='direction.pug') Направления
    li
      a(href='uzi.pug') Узи 7.6
    li
      a(href='doctor.pug') Страница врача
    li
      a(href="sitemap.pug") Карта сайта
    li
      a(href="analyzes.pug") Анализы
    li
      a(href="notFound.pug") 404
    li
      a(href="cart.pug") Корзина
    li
      a(href="typo.pug") Типовая внутренняя
    li
      a(href="contacts.pug") Контакты
      
  
