doctype html
html(lang= book)
  head()
    meta(charset="utf-8")
    block meta
    meta(name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1")
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  block styles
    <link rel="stylesheet" href="./css/mini-default.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="./css/index.css" type="text/css"/>
  body
    .wrapper
      block header
        include blocks/header.html
      block sidebar
        include blocks/sidebar.pug
      main#content.content
        section.overflow-hidden
          block content
      block footer
        include blocks/footer.html
        include blocks/btnScrollTop.html
      block scripts
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        //jQuery Modal
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
        <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
        //- <script src="./js/jquery.sticky.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.js"></script>
        <script src="./js/scripts.js"></script>
        
