extends layout.pug

block content
  .notFound
    .wrap
      .notFound__body
        p Уууупс! Что-то пошло не так
        .notFound__404txt Страница не найдена
        .notFound__404 404
        .notFound__404txt ошибка
      a.btn.btn_green.btn_darkTxt(href="/") Вернуться на главную
    
  
