extends layout.pug

block content
  div.wrap
    include blocks/breadcrumbs.html
    .page-title Гинеколог
    include blocks/pin.html
    include blocks/servicList.html
    include blocks/research.html
    include blocks/actions.html
    include blocks/speci.html
