extends layout.pug

block content
  div.wrap
    include blocks/breadcrumbs.html
    .page-title Все услуги
    include blocks/pin.html
    <a href="" class="activites__header activites__header_1 mt1">
        <span>Направления</span>
    </a>
    include blocks/servicList.html
    <a href="" class="activites__header activites__header_3 mt1">
        <span>Диагностика</span>
    </a>
    include blocks/servicList2.html
    <a href="" class="activites__header activites__header_2 mt1">
        <span>Лабораторные исследования</span>
    </a>
    include blocks/laboratory.html
    <a href="" class="activites__header activites__header_green activites__header_4 mt1">
        <span>Все анализы</span>
    </a>
    include blocks/actions.html
