extends layout.pug

block content
  div.wrap
    include blocks/breadcrumbs.html
    .page-title Карта сайта
    .sitemap
      ul
        li 
          a(href="") О центре
        li
          a(href="") Направления и услуги
        
          ul 
            li
              a(href="") Гинеколог
              ul
                li 
                  a(href="") нижний уровень
                li 
                  a(href="") нижний уровень
                li 
                  a(href="") нижний уровень
                li 
                  a(href="") нижний уровень
            li
              a(href="") УЗИ
            li
              a(href="") Услуга другая
        
        
        li
          a(href="") Врачи
          ul
            li
              a(href="") Гамаюнов Сергей Петрович
            li
              a(href="") Фамилия другого врача
            li
              a(href="") Еще что-то такое типо фамилии
