extends layout.pug

block content
  div.wrap
    include blocks/breadcrumbs.html
    .page-title Узи сердца
    div
      span.bigPrice 1200 Р
      a.btn.btn_green В корзину
    include blocks/pin.html
    .page-title Другие виды
    include blocks/prices.html
