<div class="about">
  <img src="./img/aboutfoto.png" class="about__img">
  <div class="about__txt">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, mollitia iste, distinctio asperiores quod eum maxime doloribus nesciunt esse, dolorem vitae accusamus. Iusto consequuntur aliquid corrupti dolorum laudantium tempora, distinctio!
  </div>
</div>
