<!-- ACTIVITES -->
<div class="activites clear">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="activites__itm">
                <div class="activites__header activites__header_1">
                    <span>Направления</span>
                </div>
                <ul class="activites__list">
                    <li>
                        <a href="">Компьютерная томография</a>
                    </li>
                    <li>
                        <a href="">МРТ</a>
                    </li>
                    <li>
                        <a href="">Рентген</a>
                    </li>
                    <li>
                        <a href="">УЗИ-диагностика</a>
                    </li>
                    <li>
                        <a href="" class="activites__link-all">Все услуги</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="activites__itm">
                <div class="activites__header activites__header_2">
                    <span>Лабораторные исследования</span>
                </div>
                <ul class="activites__list">
                    <li>
                        <a href="">Компьютерная томография</a>
                    </li>
                    <li>
                        <a href="">МРТ</a>
                    </li>
                    <li>
                        <a href="">Рентген</a>
                    </li>
                    <li>
                        <a href="">УЗИ-диагностика</a>
                    </li>
                    <li>
                        <a href="" class="activites__link-all">Все услуги</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="activites__itm">
                <div class="activites__header activites__header_3">
                    <span>Диагностика</span>
                </div>
                <ul class="activites__list">
                    <li>
                        <a href="">Компьютерная томография</a>
                    </li>
                    <li>
                        <a href="">МРТ</a>
                    </li>
                    <li>
                        <a href="">Рентген</a>
                    </li>
                    <li>
                        <a href="">УЗИ-диагностика</a>
                    </li>
                    <li>
                        <a href="" class="activites__link-all">Все услуги</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- //ACTIVITES -->
