<div class="actions">
  <div class="wrap">
    <h2 class="h2">Акции</h2>
    <div class="row actions__list">
      <div class="col-md-4 col-sm-12">
        <a href="">
          <img src="./img/action-banner.png" alt="">
        </a>
      </div>
      <div class="col-md-4 col-sm-12">
        <a href="">
          <img src="./img/action-banner.png" alt="">
        </a>
      </div>
      <div class="col-md-4 col-sm-12">
        <a href="">
          <img src="./img/action-banner.png" alt="">
        </a>
      </div>
    </div>
    <a href="" class="btn btn_green">Все акции</a>
  </div>
</div>
