<div class="advantages">
  <div class="h2">Преимущества компании</div>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="advantages__itm">
        <div class="advantages__icon advantages__icon_1"></div>
        <div class="advantages__title">Квалифицированные врачи</div>
        <div class="advantages__txt">
          Прием ведут опытные врачи высшей категории из Екатеринбурга
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="advantages__itm">
        <div class="advantages__icon advantages__icon_2"></div>
        <div class="advantages__title">Скидки и баллы</div>
        <div class="advantages__txt">
<a href="">Программа лояльности "Просто ЗДОРОВО"</a> позволяет получать скидку и копить баллы для оплаты медицинских услуг центра.
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="advantages__itm">
        <div class="advantages__icon advantages__icon_3"></div>
        <div class="advantages__title">более 1500 видов анализов</div>
        <div class="advantages__txt">

Исследования выполняются на самом современном оборудовании от ведущих мировых производителей. Качество работы регулярно подтверждается международными сертификатами.
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="advantages__itm">
        <div class="advantages__icon advantages__icon_4"></div>
        <div class="advantages__title">круглосуточная поддержка клиентов</div>
        <div class="advantages__txt">
Собственный круглосуточный контактный центр для всех клиентов, где можно уточнить результаты анализов у ведущих врачей-консультантов по различным направлениям.
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="advantages__itm">
        <div class="advantages__icon advantages__icon_5"></div>
        <div class="advantages__title">результаты анализов на бланке экспертного уровня</div>
        <div class="advantages__txt">


Бланк результата содержит результаты исследования с указанием наличия отклонений от нормы.
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="advantages__itm">
        <div class="advantages__icon advantages__icon_6"></div>
        <div class="advantages__title">комплексные обследования организма</div>
        <div class="advantages__txt">
Расширенная диагностика органов и систем организма по различным параметрам для постановки точного диагноза по выгодной цене. Результаты исследований с дополнительным заключением от врача-эксперта компании Хеликс.
        </div>
      </div>
    </div>
  </div>
</div>
