<div class="analyzes">
  <div class="drawer-wrap">
    <label for="drawer-nav" class="drawer-toggle btn btn_green"></label>
  </div>
  <input type="checkbox" id="drawer-nav">
  <div class="analyzes__nav">
  <div class="analyzes__nav-inner">
    <a href="">Комплексы</a>
    <a href="" class="on">Топ-50</a>
    <a href="">Аллергия</a>
    <a href="">Общеклинические исследования</a>
    <a href="">Общий анализ крови</a>
    <a href="">Анализы мочи</a>
    <a href="">Анализы кала</a>
    <a href="">Анализы спермы</a>
    <a href="">Биохимические анализы</a>
    <a href="">Анализы мочи</a>
    <a href="">Анализы кала</a>
    <a href="">Анализы спермы</a>
    <a href="">Биохимические анализы</a>
    <a href="">Анализы мочи</a>
    <a href="">Анализы кала</a>
    <a href="">Анализы спермы</a>
    <a href="">Биохимические анализы</a>
  </div>
  </div>
  <div class="analyzes__content">
    <table class="">
      <tbody>
        <tr>
          <td>
            <div class="analyzes__itm-cont">
              <span class="analyzes__title">
                <span class="analyzes__num">[40-001] </span>
                4 обязательных анализа, экспресс (подробнее)</span>
              <div class="analyzes__descr">Срок выполнения: 1 сутки. Указанный срок не включает день взятия биоматериала. В случае возникновения необходимости выполнения дополнительного теста, срок выполнения исследования может составить до 7 суток.</div>
            </div>
          </td>
          <td>
            <div class="analyzes__itm-price">1470 руб.</div>
          </td>
          <td>
            <a href="" class="btn btn_green">Заказать</a>
          </td>
        </tr>
        <tr>
          <td>
            <div class="analyzes__itm-cont">
              <a href="" class="analyzes__title">
                <span class="analyzes__num">[40-001] </span>
                4 обязательных анализа, экспресс (подробнее)</a>
              <div class="analyzes__descr">Срок выполнения: 1 сутки. Указанный срок не включает день взятия биоматериала. В случае возникновения необходимости выполнения дополнительного теста, срок выполнения исследования может составить до 7 суток.</div>
            </div>
          </td>
          <td>
            <div class="analyzes__itm-price">1470 руб.</div>
          </td>
          <td>
            <a href="" class="btn btn_green">Заказать</a>
          </td>
        </tr>
        <tr>
          <td>
            <div class="analyzes__itm-cont">
              <a href="" class="analyzes__title">
                <span class="analyzes__num">[40-001] </span>
                4 обязательных анализа, экспресс (подробнее)</a>
              <div class="analyzes__descr">Срок выполнения: 1 сутки. Указанный срок не включает день взятия биоматериала. В случае возникновения необходимости выполнения дополнительного теста, срок выполнения исследования может составить до 7 суток.</div>
            </div>
          </td>
          <td>
            <div class="analyzes__itm-price">1470 руб.</div>
          </td>
          <td>
            <a href="" class="btn btn_green">Заказать</a>
          </td>
        </tr>
        <tr>
          <td>
            <div class="analyzes__itm-cont">
              <a href="" class="analyzes__title">
                <span class="analyzes__num">[40-001] </span>
                4 обязательных анализа, экспресс (подробнее)</a>
              <div class="analyzes__descr">Срок выполнения: 1 сутки. Указанный срок не включает день взятия биоматериала. В случае возникновения необходимости выполнения дополнительного теста, срок выполнения исследования может составить до 7 суток.</div>
            </div>
          </td>
          <td>
            <div class="analyzes__itm-price">1470 руб.</div>
          </td>
          <td>
            <a href="" class="btn btn_green">Заказать</a>
          </td>
        </tr>
        <tr>
          <td>
            <div class="analyzes__itm-cont">
              <a href="" class="analyzes__title">
                <span class="analyzes__num">[40-001] </span>
                4 обязательных анализа, экспресс (подробнее)</a>
              <div class="analyzes__descr">Срок выполнения: 1 сутки. Указанный срок не включает день взятия биоматериала. В случае возникновения необходимости выполнения дополнительного теста, срок выполнения исследования может составить до 7 суток.</div>
            </div>
          </td>
          <td>
            <div class="analyzes__itm-price">1470 руб.</div>
          </td>
          <td>
            <a href="" class="btn btn_green">Заказать</a>
          </td>
        </tr>
        <tr>
          <td>
            <div class="analyzes__itm-cont">
              <a href="" class="analyzes__title">
                <span class="analyzes__num">[40-001] </span>
                4 обязательных анализа, экспресс (подробнее)</a>
              <div class="analyzes__descr">Срок выполнения: 1 сутки. Указанный срок не включает день взятия биоматериала. В случае возникновения необходимости выполнения дополнительного теста, срок выполнения исследования может составить до 7 суток.</div>
            </div>
          </td>
          <td>
            <div class="analyzes__itm-price">1470 руб.</div>
          </td>
          <td>
            <a href="" class="btn btn_green">Заказать</a>
          </td>
        </tr>
        <tr>
          <td>
            <div class="analyzes__itm-cont">
              <a href="" class="analyzes__title">
                <span class="analyzes__num">[40-001] </span>
                4 обязательных анализа, экспресс (подробнее)</a>
              <div class="analyzes__descr">Срок выполнения: 1 сутки. Указанный срок не включает день взятия биоматериала. В случае возникновения необходимости выполнения дополнительного теста, срок выполнения исследования может составить до 7 суток.</div>
            </div>
          </td>
          <td>
            <div class="analyzes__itm-price">1470 руб.</div>
          </td>
          <td>
            <a href="" class="btn btn_green">Заказать</a>
          </td>
        </tr>
        <tr>
          <td>
            <div class="analyzes__itm-cont">
              <a href="" class="analyzes__title">
                <span class="analyzes__num">[40-001] </span>
                4 обязательных анализа, экспресс (подробнее)</a>
              <div class="analyzes__descr">Срок выполнения: 1 сутки. Указанный срок не включает день взятия биоматериала. В случае возникновения необходимости выполнения дополнительного теста, срок выполнения исследования может составить до 7 суток.</div>
            </div>
          </td>
          <td>
            <div class="analyzes__itm-price">1470 руб.</div>
          </td>
          <td>
            <a href="" class="btn btn_green">Заказать</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
