<div class="b-green b-to-cabinet">
  <div class="wrap">
    <div class="b-to-cabinet__flex">
      <div class="b-to-cabinet__txt">
        <h4 class="h4">удобный личный кабинет клиента</h4>
        <p>Для получения и отслеживания динамики, а также предварительного заказа необходимых анализов разработан личный кабинет клиента доступный в виде мобильного приложения и на сайте.</p>
      </div>
      <div class="b-to-cabinet__btn">
        <a href="" class="btn btn_light">Перейти в личный кабинет</a>
      </div>
    </div>
  </div>
</div>
