<div class="breadcrumbs">
  <ul class="breadcrumbs__list">
    <li class="breadcrumbs__itm"><a href="/">Главная</a></li>
    <li class="breadcrumbs__itm"><a href="">Второй уровень</a></li>
    <li class="breadcrumbs__itm"><span>Уровень на котором мы</span></li>
  </ul>
</div>
