<form class="form">
  <div class="title">Напишите нам</div>
  <div class="field">
    <input type="text" name="username" required placeholder="ФИО">
  </div>
  <div class="field">
    <input type="tel" name="tel" required placeholder="Номер телефона">
  </div>
  <div class="field">
    <textarea name="comment" rows="5" placeholder="Введите сообщение"></textarea>
  </div>
  <div class="field">
    <button class="btn btn_green" type="submit">Отправить</button>
  </div>
</form>
