<div class="wrap">
  <div class="description">
    <div class="description__H">
      <img src="./img/H.png" alt="">
    </div>
    <div class="description__text">
      <b>Hexlet</b> - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur odit minus vero culpa amet, numquam commodi accusantium quo illum dignissimos enim, perferendis reprehenderit debitis modi, quidem mollitia doloribus fugiat voluptatum.
      Rem voluptatibus minima eveniet soluta repellat, aliquid harum officiis obcaecati, adipisci id. Minus neque officia maxime vitae officiis aperiam, libero dolor vel excepturi debitis, facere sunt natus corporis, esse consectetur.
    </div>
  </div>
</div>
