<!-- FOOTER -->
<footer class="footer">
    <div class="wrap">
        <div class="footer__top">
            <a href="/" class="footer__logo">
                <img src="./img/logo2.png" alt="Helix" title="На главную">
            </a>
            <div class="footer__info clear">
                <div class="footer__info-right">
                    <div class="soc">
                      <a href="" class="soc__itm soc__itm_vk"></a>
                      <a href="" class="soc__itm soc__itm_fb"></a>
                      <a href="" class="soc__itm soc__itm_in"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom clear">
            <div class="footer__left">
                <div>г. Верхняя Пышма, ул. Батотина 123, офис 608</div>

                <div class="footer__tel">+7 343 56767 78</div>

                <div>Часы работы: с 8:00 до 21:00</div>

                <div><a href="#">Сайт исполнителя</a></div>
            </div>
            <div class="footer__right">
              <nav class="footer__nav">
                <ul>
                  <li><a href="">Назваине услуги</a></li>
                  <li><a href="">Назваине услуги</a></li>
                  <li><a href="">Назваине услуги</a></li>
                  <li><a href="">Назваине услуги</a></li>
                  <li><a href="">Назваине услуги</a></li>
                  <li><a href="">Назваине услуги</a></li>
                </ul>
              </nav>
              <a href="#js-form-feedback" rel="modal:open" class="btn btn_light">
                <i class="i i_pencil"></i><span>Запись на прием</span>
              </a>
            </div>
        </div>
        <div class="footer__bottom footer__bottom_end">
          <div class="footer__left">
            <div class="grey">Copyright © 2018.  Предложение не является публичной офертой</div>
          </div>
          <div class="footer__right">
            <div class="grey">
              <a href="#">Пользовательское соглашение</a><br>
              <a href="#">Политика конфиденциальности</a>
            </div>
          </div>
        </div>
    </div>
</footer>
<!-- //FOOTER -->

<!-- MODAL -->
<div class="modal" id="js-form-feedback">
  <form class="form">
    <div class="title">Запись на прием</div>
    <div class="field">
      <input type="text" name="username" required placeholder="ФИО">
    </div>
    <div class="field">
      <input type="email" name="email" required placeholder="E-mail">
    </div>
    <div class="field">
      <textarea name="comment" rows="5" placeholder="Комментарий"></textarea>
    </div>
    <div class="field">
      <button class="btn btn_green" type="submit">Отправить</button>
    </div>
  </form>
</div>

<div class="modal" id="js-form-feedback-success">

    <div class="title">Ваша заявка отправлена</div>
    <p>Наши специалисты свяжутся с Вами в ближайшее время
и уточнят удобное время и дату приема.</p>
    <a href="#js-form-feedback-success" rel="modal:close" class="btn btn_green">
      Закрыть
    </a>
</div>
<!-- //MODAL -->
