<div class="gallery" >
  <div class="js-slider-galley">
    <div class="gallery__slide">
      <a href="https://belousych.bitbucket.io/helix/spec.22e4a56e.png" data-modal-img><img src="./img/foto.png" alt=""></a>
    </div>
    <div class="gallery__slide">
      <img src="./img/foto.png" alt="">
    </div>
    <div class="gallery__slide">
      <img src="./img/foto.png" alt="">
    </div>
    <div class="gallery__slide">
      <img src="./img/foto.png" alt=""><
    </div>

    <div class="gallery__slide">
      <img src="./img/foto.png" alt="">
    </div>
    <div class="gallery__slide">
      <img src="./img/foto.png" alt="">
    </div>
    <div class="gallery__slide">
      <img src="./img/foto.png" alt="">
    </div>
    <div class="gallery__slide">
      <img src="./img/foto.png" alt=""><
    </div>
  </div>
</div>
