<!-- HEADER -->
<header class="header">
  <div class="header__top">
    <div class="wrap">
      <a href="/" class="header__logo">
        <img src="./img/logo.png" alt="Helix" title="На главную">
      </a>
      <div class="header__info clear">
        <div class="header__info-txt">
          <span class="tt-u fz15">Медицинский центр <strong>Helix Верхняя пышма</strong></span><br>
          <span class="fz14">В. Пышма, ул. Новгородцевой  123, офис 607</span> <br>
          <strong class="fz15">+7 (343) 567 78 90</strong>
        </div>
        <div class="header__info-right">
          <a href="https://login.helix.ru/enter" class="header__cabinet">
            <b>Личный кабинет</b>
          </a>
          <a href="/cart" class="header__cart">
              <b>Корзина</b><br>
              <span>(1 200 Р )</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <label for="drawer-control" class="drawer-toggle"></label>

<input type="checkbox" id="drawer-control" class="drawer">
<div>
  <label for="drawer-control" class="drawer-close"></label>
  <div class="header__nav clear">
    <div class="wrap">
      <a href="/" class="header__logo2">
        <img src="./img/logo2.png" alt="Helix" title="На главную">
      </a>
    <div class="header__nav_top">
        <a href="https://login.helix.ru/enter" class="header__cabinet">
        <b>Личный кабинет</b>
      </a>
      <a href="/cart" class="header__cart">
          <b>Корзина</b><br>
          <span>(1 200 Р )</span>
      </a>
    </div>
      <a href="#js-form-feedback" rel="modal:open" class="btn btn_light">
        <i class="i i_pencil"></i><span>Запись на прием</span>
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li><a href="/">Главная</a></li>
          <li><a href="">О Центре</a></li>
          <li><a href="">Направления</a></li>
          <li><a href="">Диагностика</a></li>
          <li><a href="">Анализы</a></li>
          <li><a href="">Врачи</a></li>
          <li><a href="">Акции</a></li>
          <li><a href="">Контакты</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

</header>
<!-- //HEADER -->
