<div class="laboratiry">
  <ul>
    <li>
      <a href=""><i class="lab__i lab__i_1"></i>
        <span>Общеклинические и биохимические анализы</span></a>
    </li>
    <li>
      <a href=""><i class="lab__i lab__i_2"></i>
        <span>Комплексные обследования органов и систем организма</span></a>
    </li>
    <li>
      <a href=""><i class="lab__i lab__i_3"></i>
        <span>Диагностика инфекций методом ПЦР</span></a>
    </li>
    <li>
      <a href=""><i class="lab__i lab__i_4"></i>
        <span>Микробиологические исследования</span></a>
    </li>
    <li>
      <a href=""><i class="lab__i lab__i_5"></i>
        <span>Аллергологические исследования</span></a>
    </li>
    <li>
      <a href=""><i class="lab__i lab__i_6"></i>
        <span>Диагностика половых инфекций</span></a>
    </li>
    <li>
      <a href=""><i class="lab__i lab__i_7"></i>
        <span>Определение уровня гормонов и онкомаркеров</span></a>
    </li>
  </ul>
</div>
