<div class="map">
  <div class="map__inner">
  <a class="dg-widget-link" href="http://2gis.ru/ekaterinburg/firm/70000001027671800/center/60.550932884216316,56.98519654542188/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Екатеринбурга</a><div class="dg-widget-link"><a href="http://2gis.ru/ekaterinburg/firm/70000001027671800/photos/70000001027671800/center/60.550932884216316,56.98519654542188/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos">Фотографии компании</a></div><div class="dg-widget-link"><a href="http://2gis.ru/ekaterinburg/center/60.550931,56.983722/zoom/16/routeTab/rsType/bus/to/60.550931,56.983722╎Хеликс, лабораторная служба?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до Хеликс, лабораторная служба</a></div><script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script><script charset="utf-8">new DGWidgetLoader({"width":960,"height":455,"borderColor":"#a3a3a3","pos":{"lat":56.98519654542188,"lon":60.550932884216316,"zoom":16},"opt":{"city":"ekaterinburg"},"org":[{"id":"70000001027671800"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
  </div>
</div>
