<div class="pin">
  Lorem ipsum dolor<p> sit amet, consectetur adipisicing elit. Mollitia doloribus, quibusdam voluptate rerum, eum reiciendis labore temporibus nisi perferendis similique quasi dolorem ab! Esse repellendus voluptatem quam aliquam asperiores! Sequi.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex esse fuga omnis modi quod alias magni perferendis cupiditate reprehenderit impedit tenetur veritatis, odio quia iusto ipsam, aperiam beatae. Quod, dolore?</p>
  <p>
    <b>bold</b>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ut delectus, aliquam fugit magni illo quas nihil velit expedita. Quos ratione doloribus libero eius dignissimos sed quam in tempora nemo!
  </p>
</div>
