<p>Врач-гинеколог высшей категории</p>

<div class="doctor__txt-section">
  <h5>Опыт работы</h5>

  <p><b>1987 - 1995 гг</b> Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст..</p>

  <p><b>1987 - 1995 гг</b> Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</p>

  <p><b>1987 - 1995 гг</b> Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</p>
</div>


<div class="doctor__txt-section">
  <h5>Специализация и направления</h5>

  <p>Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p>
</div>


<div class="doctor__txt-section">
  <h5>Обучение и квалификация</h5>

  <p>Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p>
</div>
