<div class="prices">
  <table class="tbl">
    <tbody>
      <tr>
        <td>Аллергологические исследования</td>
        <td class="tac"><b>1 200 Р</b></td>
        <td class="noBg">
          <a href="" class="btn btn_green">В корзину</a>
        </td>
      </tr>
      <tr>
        <td>Аллергологические исследования</td>
        <td class="tac"><b>1 200 Р</b></td>
        <td class="noBg">
          <a href="" class="btn btn_green">В корзину</a>
        </td>
      </tr>
      <tr>
        <td>Аллергологические исследования</td>
        <td class="tac"><b>1 200 Р</b></td>
        <td class="noBg">
          <form action="">
            <inpit type="hidden" name="name" value="Аллергологические исследования"></inpit>
            <inpit type="hidden" name="price" value="1200"></inpit>
            <button class="btn btn_green" type="submit">В корзину</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>
