<div class="research">
  <div class="h2">Популярные исследования</div>
  <div class="research-column">
    <p><a href=""><span>[40-001]</span> <br>
    4 обязательных анализа, экспресс (подробнее)</a></p>
    <p><a href=""><span>[40-001]</span> <br>
    4 обязательных анализа, экспресс (подробнее)</a></p>
    <p><a href=""><span>[40-001]</span> <br>
    4 обязательных анализа, экспресс (подробнее)</a></p>
    <p><a href=""><span>[40-001]</span> <br>
    4 обязательных анализа, экспресс (подробнее)</a></p>
    <p><a href=""><span>[40-001]</span> <br>
    4 обязательных анализа, экспресс (подробнее)</a></p>
    <p><a href=""><span>[40-001]</span> <br>
    4 обязательных анализа, экспресс (подробнее)</a></p>
  </div>
</div>
