<div class="servicList">
  <a href="./services2lvl.pug" class="servicList__itm">
    <span></span>
    <span class="servicList__img"><img src="./img/serv8.png" alt="" ></span>
        <span class="servicList__name">Узи</span>
      </a>

  <a href="./services2lvl.pug" class="servicList__itm">
    <span></span>
    <span class="servicList__img"><img src="./img/serv9.png" alt=""></span>
        <span class="servicList__name">ЭКГ</span>
      </a>

  <a href="./services2lvl.pug" class="servicList__itm">
    <span></span>
    <span class="servicList__img">
      <img src="./img/serv10.png" alt="">
    </span>
        <span class="servicList__name">Кольпоскопия</span>
      </a>
</div>
