<div class="servicList">
  <a href="./services2lvl.pug" class="servicList__itm">
    <span></span>
    <span class="servicList__img">
      <img src="./img/serv1.png" alt="">
    </span>
      <span class="servicList__name">Гинеколог</span>
    </a>

  <a href="./services2lvl.pug" class="servicList__itm">
    <span></span>
<span class="servicList__img"><img src="./img/serv2.png" alt=""></span>
        <span class="servicList__name">Эндокринолог</span>
      </a>

  <a href="./services2lvl.pug" class="servicList__itm">
    <span></span>
    <span class="servicList__img"><img src="./img/serv3.png" alt="" ></span>
        <span class="servicList__name">Кардиолог</span>
      </a>

  <a href="./services2lvl.pug" class="servicList__itm">
    <span></span>
    <span class="servicList__img"><img src="./img/serv4.png" alt=""></span>
        <span class="servicList__name">Аллерголог-иммунолог</span>
      </a>

  <a href="./services2lvl.pug" class="servicList__itm">
    <span></span>
    <span class="servicList__img">
      <img src="./img/serv5.png" alt="">
    </span>
        <span class="servicList__name">Невролог</span>
      </a>

  <a href="./services2lvl.pug" class="servicList__itm">
    <span></span>
        <span class="servicList__img"><img src="./img/serv6.png" alt="" ></span>
            <span class="servicList__name">Детский невролог</span>
          </a>

  <a href="./services2lvl.pug" class="servicList__itm">
    <span></span>
            <span class="servicList__img"><img src="./img/serv7.png" alt="" ></span>
                <span class="servicList__name">Терапевт</span>
              </a>

</div>
