<div class="slider" >
  <div class="js-slider">
    <div class="slide">
      <div class="slide__img">
        <img src="./img/slide1.png" alt="">
      </div>
      <div class="wrap">
        <div class="slide__title h2">
          Экспресс-программа обследования
        </div>
        <p class="slide__p">Быстро. Надежно. Доступно. </p>
      </div>
      <div class="slide__btn">
        <div class="wrap">
          <a href="" class="btn btn_green">Подробнее об акции</a>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="slide__img">
        <img src="./img/slide1.png" alt="">
      </div>
      <div class="wrap">
        <div class="slide__title h2">
          Экспресс-программа обследования
        </div>
        <p class="slide__p">Быстро. Надежно. Доступно. </p>
      </div>
    </div>
  </div>
</div>
