<div class="speci">
  

  <div class="spec__g">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="spec">
          <div class="spec__img">
            <img src="./img/spec.png" alt="">
          </div>
          <div class="spec__name">Шуварин Сергей Викторович</div>
          <div class="spec__job">Врач-аллерголог-иммунолог</div>
          <div class="spec__price">от <b class="green">3000 ₽</b> </div>

          <a href="" class="spec__btn btn btn_green">Записаться</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="spec">
          <div class="spec__img">
            <img src="./img/spec.png" alt="">
          </div>
          <div class="spec__name">Шуварин Сергей Викторович</div>
          <div class="spec__job">Врач-аллерголог-иммунолог</div>
          <div class="spec__price">от <b class="green">3000 ₽</b> </div>

          <a href="" class="spec__btn btn btn_green">Записаться</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="spec">
          <div class="spec__img">
            <img src="./img/spec.png" alt="">
          </div>
          <div class="spec__name">Шуварин Сергей Викторович</div>
          <div class="spec__job">Врач-аллерголог-иммунолог</div>
          <div class="spec__price">от <b class="green">3000 ₽</b> </div>

          <a href="" class="spec__btn btn btn_green">Записаться</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="spec">
          <div class="spec__img">
            <img src="./img/spec.png" alt="">
          </div>
          <div class="spec__name">Шуварин Сергей Викторович</div>
          <div class="spec__job">Врач-аллерголог-иммунолог</div>
          <div class="spec__price">от <b class="green">3000 ₽</b> </div>

          <a href="" class="spec__btn btn btn_green">Записаться</a>
        </div>
      </div>
    </div>
  </div>
</div>
