<div class="b-grey symptoms">
  <div class="wrap tac">
    <div class="h2">Заболевания и симптомы</div>
    <p>Вам стоит обратиться к врачу если:</p>
    <div class="simptom">
      <a href="#js-form-feedback" rel="modal:open" class="btn btn_green">
      <span>Записаться к врачу</span>
      </a>
    </div>
  </div>
</div>
