<div class="zapis">
  <div class="wrap">
    <div class="h2">Не знаете к кому записаться</div>
    <p>
      Наши специалисты помогут Вам подобрать специалиста
    </p>
    <a href="#js-form-feedback" rel="modal:open" class="btn btn_light">
    <span>Записаться</span>
    </a>
  </div>
</div>
